<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <p  class="h2"><b>Hệ thống </b>LMS</p>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Mời bạn chọn chức năng</p>
      
            
      
            <div class="social-auth-links text-center mt-2 mb-3">
                <a routerLink="/sinhvien/login" class="btn btn-block btn-default">
                    <i class="fa fa-arrow-right"></i> Sinh viên đăng nhập
                </a>
                <a routerLink="/giaovien/login" class="btn btn-block btn-default">
                    <i class="fa fa-arrow-right"></i> Giáo viên đăng nhập
                </a>
                <a routerLink="/admin/login" class="btn btn-block btn-default">
                    <i class="fa fa-arrow-right"></i> Quản trị hệ thống
                </a>
            
            </div>
            <!-- /.social-auth-links -->
      
           
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    
</div>