<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Quản lý lớp : </h4>
                </div>

            </div> <!-- end row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <!-- <h4 class="mt-0 header-title mb-4">Suppliers</h4> -->
                            <div class="row mb-1">
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal" (click)="clearFormAdd()" data-backdrop="static" data-keyboard="false">
                                    Add
                                </button>
                                
                                </div>
                                <div class="col-sm-3" style="display: flex;">
                                    <input class="form-control" autocomplete="off"  type="search" 
                                        [(ngModel)]="txtSearchName" placeholder="Tìm kiếm tại đây...">
                                    <button type="button" (click)="onSearch()" class="btn btn-success">
                                        <i class="fas fa-search fa-fw"></i></button>
                                       
                                </div>
                            </div>
                            <div class="row mb-1 mt-3">
                                <div class="col-sm-4">
                                    <label class="mr-1">Hiển thị </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="pageSize"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">

                                        <option [value]="3">3</option>
                                        <option [value]="5">5</option>
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="25">25</option>
                                        <option [value]="30">30</option>
                                    </select>
                                    <label> dòng</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="mr-1">Sắp xếp theo tên </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="sortByName"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">
                                        
                                        <option [value]="'asc'">Tăng dần</option>
                                        <option [value]="'desc'">Giảm dần</option>
                                        <option [value]="'reset'">Reset</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" style="float: right;">
                                    <label class="mr-1">Sắp xếp theo ngày tạo </label>
                                    <select class="form-control form-control-sm mr-1" 
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">
                                        <option [value]="'desc'">Mới nhất</option>
                                        <option [value]="'asc'">Cũ nhất</option>
                                        <option [value]="'reset'">Reset</option>
                                    </select>
                                </div>
                              
                             

                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>

                                            <th scope="col">Mã lớp</th>
                                            <th scope="col">Tên lớp</th>
                                            <th scope="col">Sĩ số</th>
                                            <th scope="col">Gvcn</th>
                                            <th scope="col">Khoa</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i = index;let item of lophocs">
                                            <td>{{ i + 1 }}</td>

                                            <td>{{item.malop}}</td>
                                            <td>{{item.tenlop}}</td>
                                            <td>{{item.siso}}</td>
                                            <td>{{item.gvcn}}</td>
                                         
                                            <td *ngIf="item.khoa=='cntt'">Khoa Công nghệ thông tin</td>
                                            <td *ngIf="item.khoa=='cnm'">Khoa Công nghệ may - thời trang</td>
                                            <td *ngIf="item.khoa=='nna'">Khoa Ngôn ngữ anh</td>
                                            <td *ngIf="item.khoa=='ktdn'">Khoa Kế toán - doanh nghiệp</td>
                                            <!-- <td>
                                                <span *ngIf="item.status;else unactive"
                                                    class="badge badge-success">Active</span>
                                                <ng-template #unactive>
                                                    <span class="badge badge-danger">Unactive</span>
                                                </ng-template>
                                            </td> -->
                                            <td>
                                                <button type="button" class="btn btn-default mr-1"
                                                    data-toggle="modal" data-target="#exampleModal1"
                                                    (click)="onEdit(item.malop)"><i class="fa fa-edit"
                                                        style="color:red"></i></button>
                                                <button type="button" class="btn btn-default"
                                                    (click)="deleteClick(item)"><i class="fa fa-trash"
                                                        style="color:red"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
                                [maxSize]="10" [rotate]="true" (pageChange)="loadData($event)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-title -->
    </div>
    <!-- container-fluid -->
</div>

<div class="modal fade"  id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin lớp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" [formGroup]="formEdit" (ngSubmit)="update()">
                
                <div class="modal-body">
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Mã lớp</label>
                            <input type="number" maxlength="6" formControlName="malop"
                                class="form-control form-control-sm" placeholder="Nhập mã lớp">
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1">Tên lớp</label>
                            <input type="text" formControlName="tenlop"
                                class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="nhập tên lớp">
                        </div>
                        
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputPassword1">Sĩ số</label>
                            <input type="text" formControlName="siso"
                                class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="nhập sĩ số lớp">
                           
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1">Gvcn</label>
                            <input type="text" formControlName="gvcn"
                                class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="nhập gvcn">
                           
                        </div>
                        
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputPassword1">Khoa</label>
                            <select formControlName="khoa" class="form-control form-control-sm">
                                <option value="cntt">Công nghệ thông tin</option>
                                <option value="cnm">Công nghệ may -  thời trang</option>
                                <option value="nna">Ngôn ngữ anh</option>
                                <option value="ktdn">Kế toán - doanh nhiệp</option>
                            </select>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="closeClick()" aria-label="Close" data-dismiss="modal" type="button"
                        class="btn btn-default">Close</button>
                    <button type="button" data-dismiss="modal" (click)="update()" class="btn btn-primary">Update </button>
                </div>
            </form>
           
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:50%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm lớp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form action="" [formGroup]="formAdd">
                
                <div class="modal-body">
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Mã lớp</label>
                            <input type="number" maxlength="6" formControlName="malop"
                                class="form-control form-control-sm" placeholder="Nhập mã lớp">
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1">Tên lớp</label>
                            <input type="text" formControlName="tenlop"
                                class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="nhập tên lớp">
                            <small class="form-text text-danger"
                                *ngIf="formAdd.controls.tenlop?.errors?.required && formAdd.controls.tenlop?.touched">
                                Tên lớp không được để trống!
                            </small>
                        </div>
                        
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputPassword1">Sĩ số</label>
                            <input type="text" formControlName="siso"
                                class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="nhập sĩ số lớp">
                            <small class="form-text text-danger"
                                *ngIf="formAdd.controls.siso?.errors?.required && formAdd.controls.siso?.touched">
                                Sĩ số lớp không được để trống!
                            </small>
                        </div>
                        <div class="col">
                            <label for="exampleInputPassword1">Gvcn</label>
                            <input type="text" formControlName="gvcn"
                                class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="nhập gvcn">
                            <small class="form-text text-danger"
                                *ngIf="formAdd.controls.gvcn?.errors?.required && formAdd.controls.gvcn?.touched">
                                Gvcn không được để trống!
                            </small>
                        </div>
                        
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputPassword1">Khoa</label>
                            <select formControlName="khoa" class="form-control form-control-sm">
                                <option value="cntt">Công nghệ thông tin</option>
                                <option value="cnm">Công nghệ may -  thời trang</option>
                                <option value="nna">Ngôn ngữ anh</option>
                                <option value="ktdn">Kế toán - doanh nhiệp</option>
                            </select>
                            <small class="form-text text-danger"
                                *ngIf="formAdd.controls.khoa?.errors?.required && formAdd.controls.khoa?.touched">
                                Khoa không được để trống!
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="closeClick()" aria-label="Close" data-dismiss="modal" type="button"
                        class="btn btn-default">Close</button>
                    <button type="button" (click)="add()" data-dismiss="modal" class="btn btn-primary">Thêm mới </button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>

<p-confirmDialog [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-text">

</p-confirmDialog>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade-rotating" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>