<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Quản lý giáo viên : </h4>
                </div>

            </div> <!-- end row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <!-- <h4 class="mt-0 header-title mb-4">Suppliers</h4> -->
                            <div class="row mb-1">
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal" (click)="clearFormAdd()" data-backdrop="static" data-keyboard="false">
                                    Add
                                </button>
                                
                                </div>
                                <div class="col-sm-3" style="display: flex;">
                                    <input class="form-control" autocomplete="off"  type="search" 
                                        [(ngModel)]="txtSearchName" placeholder="Tìm kiếm tại đây...">
                                    <button type="button" (click)="onSearch()" class="btn btn-success">
                                        <i class="fas fa-search fa-fw"></i></button>
                                       
                                </div>
                            </div>
                            <div class="row mb-1 mt-3">
                                <div class="col-sm-4">
                                    <label class="mr-1">Hiển thị </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="pageSize"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">

                                        <option [value]="3">3</option>
                                        <option [value]="5">5</option>
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="25">25</option>
                                        <option [value]="30">30</option>
                                    </select>
                                    <label> dòng</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="mr-1">Sắp xếp theo tên </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="sortByName"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">
                                        
                                        <option [value]="'asc'">Tăng dần</option>
                                        <option [value]="'desc'">Giảm dần</option>
                                        <option [value]="'reset'">Reset</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" style="float: right;">
                                    <label class="mr-1">Sắp xếp theo ngày sinh </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="sortByCreatedDate"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">
                                        <option [value]="'desc'">sớm nhất</option>
                                        <option [value]="'asc'">muộn nhất</option>
                                        <option [value]="'reset'">Reset</option>
                                    </select>
                                </div>
                              
                             

                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>

                                            <th scope="col">Mã giáo viên</th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">Điện thoại</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Ngày sinh</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let i = index;let item of giaoviens">
                                        <tr>
                                            <td>{{ i + 1 }}</td>
                                            <td>{{item.magv}}</td>
                                            <td>{{item.tengv}}</td>
                                            <td> {{item.dienthoai}}</td>
                                            <td>{{item.email}}</td>

                                            <td>{{item.ngaysinh | date:'longDate'}}</td>
                                            <!-- <td>
                                        <span *ngIf="item.status;else unactive"
                                            class="badge badge-success">Active</span>
                                        <ng-template #unactive>
                                            <span class="badge badge-danger">Unactive</span>
                                        </ng-template>
                                    </td> -->
                                            <td>
                                                <a type="button"
                                                    routerLink="/admin/xemhoso/{{item.magv}}"
                                                    class="btn btn-default mr-1">
                                                    <i class="fa fa-id-card" style="color:red"></i></a>
                                                <button type="button" class="btn btn-default"
                                                    (click)="DeleteGiaoVien(item)"><i class="fa fa-trash"
                                                        style="color:red"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
                                [maxSize]="10" [rotate]="true" (pageChange)="loadData($event)">
                            </ngb-pagination>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-title -->
    </div>
    <!-- container-fluid -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" style="width:70%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm lớpc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form action="" [formGroup]="formAdd">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label">   Mã giáo viên :</label>
                            <input type="number" class="form-control" formControlName="magv" placeholder="Nhập mã giáo viên">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.magv?.errors?.required && formAdd.controls.magvgv?.touched">
                                mã gv không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label">
                                Họ tên :</label>
                            <input type="text" class="form-control" formControlName="tengv"
                                placeholder="Họ tên giáo viên">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.tengv?.errors?.required && formAdd.controls.tengv?.touched">
                                Họ tên không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label">Email
                                :</label>
                            <input type="text" class="form-control" formControlName="email"
                                placeholder="email giáo viên">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.email?.errors?.required && formAdd.controls.email?.touched">
                                email không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label"> Điện
                                thoại :</label>
                            <input type="text" class="form-control"
                                formControlName="dienthoai" placeholder="Điện thoại">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.dienthoai?.errors?.required && formAdd.controls.dienthoai?.touched">
                                Điện thoại không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label"> Địa chỉ
                                :</label>
                            <input type="text" class="form-control" formControlName="diachi"
                                placeholder="Nhập địa chỉ">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.diachi?.errors?.required && formAdd.controls.diachi?.touched">
                                Địa chỉ không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label">Ngày sinh
                                :</label>
                            <input type="date" class="form-control"
                                formControlName="ngaysinh">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.ngaysinh?.errors?.required && formAdd.controls.ngaysinh?.touched">
                                Ngày sinh không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label">Chuyên
                                ngành:</label>
                            <input type="text" class="form-control"
                                formControlName="chuyennganh"
                                placeholder="Nhập chuyên ngành">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.chuyennganh?.errors?.required && formAdd.controls.chuyennganh?.touched">
                                Chuyên ngành không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label">Quốc tịch
                                :</label>
                            <input type="text" class="form-control"
                                formControlName="quoctich" placeholder="Nhập quốc tịch">
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1" class="col-form-label"> password
                                :</label>
                            <input type="password" class="form-control"
                                formControlName="matkhau" placeholder="Nhập password">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.matkhau?.errors?.required && formAdd.controls.matkhau?.touched">
                                Mật khẩu không được để trống!
                            </span>
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.matkhau?.errors?.minlength && formAdd.controls.matkhau?.touched">
                                Mật khẩu phải ít nhất 6 ký tự
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="closeClick()" aria-label="Close" data-dismiss="modal" type="button"
                        class="btn btn-default">Close</button>
                    <button type="button" (click)="ThemGiaoVien()" [disabled]="!formAdd.valid" class="btn btn-primary">Thêm mới </button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>