
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập để vào hệ thống .</p>

                <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="" formControlName="username" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                    </div>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="formLogin.controls.username?.errors?.required && formLogin.controls.username?.touched">
                        Tài khoản không được để trống!
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="" formControlName="password"
                            placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert"
                        *ngIf="formLogin.controls.password?.errors?.required && formLogin.controls.password?.touched">
                        Mật khẩu không được để trống!
                    </div>
                    
                        <input type="submit" [disabled]="!formLogin.valid" class="form-control" value="Log in">
                   
                  
                </form>

               
                <!-- /.social-auth-links -->
                <p style="float: right;text-decoration: none;margin-top: 10px;" class="mb-1">
                    <a routerLink="/">Quay về trang chủ</a>
                </p>

            </div>
            <!-- /.login-card-body -->
           

        </div>
    </div>
</div>

<p-toast></p-toast>
