<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Quản lý sinh viên </h4>
                </div>

            </div> <!-- end row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <!-- <h4 class="mt-0 header-title mb-4">Suppliers</h4> -->
                            <div class="row mb-1">
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal" (click)="clearFormAdd()" data-backdrop="static" data-keyboard="false">
                                    Add
                                </button>
                                
                                </div>
                                <div class="col-sm-3" style="display: flex;">
                                    <input class="form-control" autocomplete="off"  type="search" 
                                        [(ngModel)]="txtSearchName" placeholder="Tìm kiếm tại đây...">
                                    <button type="button" (click)="onSearch()" class="btn btn-success">
                                        <i class="fas fa-search fa-fw"></i></button>
                                       
                                </div>
                            </div>
                            <div class="row mb-1 mt-3">
                                <div class="col-sm-4">
                                    <label class="mr-1">Hiển thị </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="pageSize"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">

                                        <option [value]="3">3</option>
                                        <option [value]="5">5</option>
                                        <option [value]="10">10</option>
                                        <option [value]="20">20</option>
                                        <option [value]="25">25</option>
                                        <option [value]="30">30</option>
                                    </select>
                                    <label> dòng</label>
                                </div>
                                <div class="col-sm-4">
                                    <label class="mr-1">Sắp xếp theo tên </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="sortByName"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">
                                        
                                        <option [value]="'asc'">Tăng dần</option>
                                        <option [value]="'desc'">Giảm dần</option>
                                        <option [value]="'reset'">Reset</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" style="float: right;">
                                    <label class="mr-1">Sắp xếp theo ngày sinh </label>
                                    <select class="form-control form-control-sm mr-1" [(ngModel)]="sortByCreatedDate"
                                        (ngModelChange)="loadData(1)" style="width: 100px;display: inline!important;">
                                        <option [value]="'desc'">sớm nhất</option>
                                        <option [value]="'asc'">muộn nhất</option>
                                        <option [value]="'reset'">Reset</option>
                                    </select>
                                </div>
                              
                             

                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>

                                            <th scope="col">mã sinh viên</th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">Ngày sinh</th>
                                            <th scope="col">email</th>
                                            <th scope="col">điện thoại cá nhân</th>
                                            <th scope="col">Địa chỉ thường chú</th>
                                            <th scope="col">Giới tính</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i = index;let item of sinhviens">
                                            <td>{{ i + 1 }}</td>

                                            <td>{{item.masv}}</td>
                                            <td>{{item.tensv}}</td>
                                            <td>{{item.ngaysinh | date:'longDate'}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.dienthoai}}</td>
                                            <td>{{item.diachinha}}</td>
                                            <td>
                                                <span *ngIf="item.gioitinh==1;"
                                                    class="badge badge-success">Nam</span>
                                                    <span *ngIf="item.gioitinh==0;"
                                                    class="badge badge-success">Nữ</span>
                                                    <span *ngIf="item.gioitinh==null;"
                                                    class="badge badge-danger">Chưa xác định</span>
                                                <!-- <ng-template #unactive>
                                                    <span class="badge badge-danger">Unactive</span>
                                                </ng-template>  -->
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-default mr-1" data-toggle="modal"
                                                    data-target="#exampleModal1" (click)="onEdit(item.masv)"><i
                                                        class="fa fa-edit" style="color:red"></i></button>
                                                <button type="button" class="btn btn-default"
                                                    (click)="DeleteSinhvien(item)"><i class="fa fa-trash"
                                                        style="color:red"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [boundaryLinks]="true"
                                [maxSize]="10" [rotate]="true" (pageChange)="loadData($event)">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-title -->
    </div>
    <!-- container-fluid -->
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formAdd">
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Mã sinh viên :</label>
                            <input type="number" class="form-control" formControlName="masv"
                                placeholder="nhập mã sinh viên">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.masv?.errors?.required && formAdd.controls.masv?.touched">
                                Mã sinh viên không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Họ tên đầy đủ :</label>
                            <input type="text" class="form-control" formControlName="tensv" placeholder="họ và tên">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.tensv?.errors?.required && formAdd.controls.tensv?.touched">
                                Tên đầy đủ không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Ngày sinh :</label>
                            <input type="date" class="form-control" formControlName="ngaysinh">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.ngaysinh?.errors?.required && formAdd.controls.ngaysinh?.touched">
                                Ngày sinh không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">EMail :</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="nhập email">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.email?.errors?.required && formAdd.controls.email?.touched">
                                email không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Điện thoai cá nhân :</label>
                            <input type="text" class="form-control" formControlName="dienthoai"
                                placeholder="nhập điện thoại">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.dienthoai?.errors?.required && formAdd.controls.dienthoai?.touched">
                                điện thoại không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Địa chỉ hiện tại:</label>
                            <input class="form-control" type="text" formControlName="diachinha"
                                placeholder="nhập địa chỉ nhà">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.diachinha?.errors?.required && formAdd.controls.diachinha?.touched">
                                điạ chỉ nhà không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Ngành học:</label>
                            <input class="form-control" type="text" formControlName="nganhhoc" placeholder="nhập ngành học">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.nganhhoc?.errors?.required && formAdd.controls.nganhhoc?.touched">
                                ngành học không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Chuyên ngành:</label>
                            <input class="form-control" type="text" formControlName="chuyennganh"
                                placeholder="nhập chuyên ngành">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.chuyennganh?.errors?.required && formAdd.controls.chuyennganh?.touched">
                                chuyên ngành không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Hệ đào tạo:</label>
                            <input class="form-control" type="text" formControlName="hedaotao"
                                placeholder="nhập hệ đào tạo">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.hedaotao?.errors?.required && formAdd.controls.hedaotao?.touched">
                                hệ đào tạo không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col" >
                            <label for="exampleInputEmail1">Giới tính:</label>
                            
                            <select class="form-control" formControlName="gioitinh">
                      
                                <option value="true">Nam</option>
                                <option value="false">Nữ</option>
                            </select>
                          
                        </div>
                       
                        
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Niên khóa:</label>
                            <input class="form-control" type="text" formControlName="nienkhoa" placeholder="nhập niên khóa">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.nienkhoa?.errors?.required && formAdd.controls.nienkhoa?.touched">
                                niên khóa không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Mật khẩu:</label>
                            <input class="form-control" type="password" formControlName="matkhau" placeholder="nhập mật khẩu">
                            <span class="text-danger" role="alert"
                                *ngIf="formAdd.controls.matkhau?.errors?.required && formAdd.controls.matkhau?.touched">
                                mật khẩu không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Mã lớp :</label>
                            <select class="form-control" formControlName="malop">
                                <ng-container *ngFor="let lophocs of lophocs">
                                    <option [ngValue]="lophocs.malop">{{lophocs.tenlop}} </option>
                                </ng-container>
                            </select>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="closeClick()" aria-label="Close" data-dismiss="modal" type="button"
                    class="btn btn-default">Close</button>
                <button type="button" (click)="add()" [disabled]="!formAdd.valid" class="btn btn-primary">Thêm mới</button>
                <!--  -->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formEdit">
                    <input type="number" formControlName="gioitinh">
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Mã sinh viên :</label>
                            <input type="text" class="form-control"  formControlName="masv"
                                placeholder="nhập mã sinh viên">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.masv?.errors?.required && formEdit.controls.masv?.touched">
                                Mã sinh viên không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Họ tên đầy đủ :</label>
                            <input type="text" class="form-control" formControlName="tensv" placeholder="họ và tên">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.tensv?.errors?.required && formEdit.controls.tensv?.touched">
                                Tên đầy đủ không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Ngày sinh :</label>
                            <input type="datetime" class="form-control" formControlName="ngaysinh">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.ngaysinh?.errors?.required && formEdit.controls.ngaysinh?.touched">
                                Ngày sinh không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">EMail :</label>
                            <input type="email" class="form-control" formControlName="email" placeholder="nhập email">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.email?.errors?.required && formEdit.controls.email?.touched">
                                email không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Điện thoai cá nhân :</label>
                            <input type="text" class="form-control" formControlName="dienthoai"
                                placeholder="nhập điện thoại">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.dienthoai?.errors?.required && formEdit.controls.dienthoai?.touched">
                                điện thoại không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Địa chỉ hiện tại:</label>
                            <input class="form-control" type="text" formControlName="diachinha"
                                placeholder="nhập địa chỉ nhà">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.diachinha?.errors?.required && formEdit.controls.diachinha?.touched">
                                điạ chỉ nhà không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Ngành học:</label>
                            <input class="form-control" type="text" formControlName="nganhhoc" placeholder="nhập ngành học">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.nganhhoc?.errors?.required && formEdit.controls.nganhhoc?.touched">
                                ngành học không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Chuyên ngành:</label>
                            <input class="form-control" type="text" formControlName="chuyennganh"
                                placeholder="nhập chuyên ngành">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.chuyennganh?.errors?.required && formEdit.controls.chuyennganh?.touched">
                                chuyên ngành không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Hệ đào tạo:</label>
                            <input class="form-control" type="text" formControlName="hedaotao"
                                placeholder="nhập hệ đào tạo">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.hedaotao?.errors?.required && formEdit.controls.hedaotao?.touched">
                                hệ đào tạo không được để trống!
                            </span>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="exampleInputEmail1">Niên khóa:</label>
                            <input class="form-control" type="text" formControlName="nienkhoa" placeholder="nhập niên khóa">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.nienkhoa?.errors?.required && formEdit.controls.nienkhoa?.touched">
                                niên khóa không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Mật khẩu:</label>
                            <input class="form-control" type="password" formControlName="matkhau" placeholder="nhập mật khẩu">
                            <span class="text-danger" role="alert"
                                *ngIf="formEdit.controls.matkhau?.errors?.required && formEdit.controls.matkhau?.touched">
                                mật khẩu không được để trống!
                            </span>
                        </div>
                        <div class="col">
                            <label for="exampleInputEmail1">Mã lớp :</label>
                            <select class="form-control" formControlName="malop">
                                <ng-container *ngFor="let lophocs of lophocs">
                                    <option [ngValue]="lophocs.malop">{{lophocs.tenlop}} </option>
                                </ng-container>
                            </select>
                            <input class="form-control" type="hidden" formControlName="anhdaidien">
                        </div>
                        
                    </div>
                    <div class="form-row form-group">
                        <div class="col" >
                            <label for="exampleInputEmail1">Giới tính:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="gioitinh"  [value]="true" checked>
                                <label class="form-check-label">
                                  Nam 
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="gioitinh"  [value]="false">
                                <label class="form-check-label">
                                  Nữ
                                </label>
                              </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="closeClick()" aria-label="Close" data-dismiss="modal" type="button"
                    class="btn btn-default">Close</button>
                <button type="button" (click)="update()" class="btn btn-primary">Update</button>
                <!--  -->
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#ffbe76" type="pacman">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-text">

</p-confirmDialog>