<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sinh viên đăng nhập để sử dụng ứng dụng</p>

                <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                    <div class="input-group mb-3">

                        <input type="number" class="form-control" formControlName="masv" placeholder="nhập mã sinh viên">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        <span class="text-danger" role="alert"
                            *ngIf="formLogin.controls.masv?.errors?.required && formLogin.controls.masv?.touched">
                            mã sinh viên không được để trống!
                        </span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control"  formControlName="matkhau" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <span class="text-danger" role="alert"
                                *ngIf="formLogin.controls.matkhau?.errors?.required && formLogin.controls.matkhau?.touched">
                                mật khẩu không được để trống!
                            </span>
                            <span class="text-danger" role="alert"
                                *ngIf="formLogin.controls.matkhau?.errors?.minlength && formLogin.controls.matkhau?.touched">
                                mật khẩu phải ít nhất 6 kí tự !
                            </span>
                        </div>
                    </div>
                    <div class="row">
                       
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" [disabled]="!formLogin.valid"  class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- /.social-auth-links -->

                <p style="float: right;text-decoration: none;" class="mb-1">
                    <a routerLink="/">Quay về trang chủ</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<p-toast></p-toast>