<section class="content">
    <div class="container-fluid">
      <div class="row">
  
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin lớp</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Bài giảng</a></li>
                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Tài liệu học </a></li>
                <li class="nav-item"><a class="nav-link" href="#baitap" data-toggle="tab">Bài tập </a></li>
                <li class="nav-item"><a class="nav-link" href="#thaoluans" data-toggle="tab">Thảo luận </a></li>
              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="activity">
                  <div class="time-label">
                    <!-- <span class="bg-danger">
                        10 Feb. 2014
                      </span> -->
                 
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div class="card card-solid">
                    <div class="card-body pb-0">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let i = index;let item of danhsachsinhviens">
                          <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                              Năm học : {{item.Masv}}
                            </div>
                            <div class="card-body pt-0">
                              <div class="row">
                                <div class="col-7">
                               
                                  <p class="text-muted text-sm"><b>Tiêu đề: </b> {{item.Masv}} </p>
                                  <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-user"></i></span> Giảng viên: {{item.nguoitao}}
                                      </li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span></li> Tiết học : {{item.sotiet}}
                                  </ul>
                                </div>
                                <div class="col-5 text-center">
                                  <img src="./assets/dist/img/lms.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                              </div>
                            </div>
                            <div class="card-footer">
                              <div class="text-right">
                                <a  class="btn btn-sm bg-teal">
                                  <i class="fas fa-comments"></i>
                                </a>
                                <a class="btn btn-sm btn-primary">
                                  <i class="fas fa-user"></i> Truy cập vào
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    
                    
                    
                    
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                          <li class="page-item"><a class="page-link" href="#">7</a></li>
                          <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                      </nav>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->
                    <div class="time-label">
                      <!-- <span class="bg-danger">
                          10 Feb. 2014
                        </span> -->
                     
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                      
                      <div class="card card-solid">
                        <div class="card-body pb-0">
                          <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let i = index;let item of baigiangsinhviens">
                              <div class="card bg-light d-flex flex-fill">
                                <div class="card-header text-muted border-bottom-0">
                                  Năm học : {{item.namhoc}}
                                </div>
                                <div class="card-body pt-0">
                                  <div class="row">
                                    <div class="col-7">
                                   
                                      <p class="text-muted text-sm"><b>Tiêu đề: </b> {{item.tieude}} </p>
                                      <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-user"></i></span> Giảng viên: {{item.nguoitao}}
                                          </li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span></li> Tiết học : {{item.sotiet}}
                                      </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                      <img src="./assets/dist/img/lms.jpg" alt="user-avatar" class="img-circle img-fluid">
                                    </div>
                                  </div>
                                </div>
                                <div class="card-footer">
                                  <div class="text-right">
                                    <a  class="btn btn-sm bg-teal">
                                      <i class="fas fa-comments"></i>
                                    </a>
                                    <a class="btn btn-sm btn-primary">
                                      <i class="fas fa-user"></i> Truy cập vào
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        
                        
                        
                        
                          </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                          <nav aria-label="Contacts Page Navigation">
                            <ul class="pagination justify-content-center m-0">
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">6</a></li>
                              <li class="page-item"><a class="page-link" href="#">7</a></li>
                              <li class="page-item"><a class="page-link" href="#">8</a></li>
                            </ul>
                          </nav>
                        </div>
                        <!-- /.card-footer -->
                      </div>
                      
                    </div>
                  </div>
                </div>
                <!-- /.tab-pane -->
  
                <div class="tab-pane" id="settings">
                  <div class="row mb-1">
                    <div class="col-sm-9">
                   
                      <!-- (click)="clearFormAdd()" -->
                    </div>
               
                  </div>
                 
                  <div class="card card-solid">
                    <div class="card-body pb-0">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let i = index;let item of tailieusinhviens">
                          <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                              Năm học : {{item.namhoc}}
                            </div>
                            <div class="card-body pt-0">
                              <div class="row">
                                <div class="col-7">
                               
                                  <p class="text-muted text-sm"><b>Tiêu đề: </b> {{item.tentailieu}} </p>
                                  <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-user"></i></span> Giảng viên: {{item.nguoitao}}
                                      </li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span></li> Ngày tạo : <br> {{item.ngaytao| date:'dd - MM - yyyy'}}
                                  </ul>
                                </div>
                                <div class="col-5 text-center">
                                  <img src="./assets/dist/img/document.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                              </div>
                            </div>
                            <div class="card-footer">
                              <div class="text-right">
                                <a  class="btn btn-sm bg-teal">
                                  <i class="fas fa-comments"></i>
                                </a>
                                <a href="http://localhost:44169/photos/tailieu/{{item.filename}}" title="Ấn để tải xuống" target="_blank" class="btn btn-sm btn-primary">
                                  <i class="fa fa-download"></i> Tải xuống
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                          <li class="page-item"><a class="page-link" href="#">7</a></li>
                          <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                      </nav>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                </div>
                <div class="tab-pane" id="baitap">
                  <div class="row mb-1">
                   
                    <!-- <div class="col-sm-3" style="display: flex;">
                          <input class="form-control" autocomplete="off"  type="search" 
                              [(ngModel)]="txtSearchName" placeholder="Tìm kiếm tại đây...">
                          <button type="button" (click)="onSearch()" class="btn btn-success">
                              <i class="fas fa-search fa-fw"></i></button>
                             
                      </div> -->
                  </div>
                 
                  <div class="card card-solid">
                    <div class="card-body pb-0">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let i = index;let item of baitapsinhviens">
                          <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                              Năm học : {{item.namhoc}}
                            </div>
                            <div class="card-body pt-0">
                              <div class="row">
                                <div class="col-7">
                               
                                  <p class="text-muted text-sm"><b>Tiêu đề: </b> {{item.tenbt}} </p>
                                  <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-user"></i></span> Giảng viên: {{item.nguoitao}}
                                      </li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span></li> Ngày tạo : <br> {{item.ngaytao| date:'dd - MM - yyyy'}}
                                  </ul>
                                </div>
                                <div class="col-5 text-center">
                                  <img src="./assets/dist/img/document.jpg" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                              </div>
                            </div>
                            <div class="card-footer">
                              <div class="text-right">
                                <a  href="http://localhost:44169/photos/baitap/{{item.filename}}" title="Ấn để tải xuống" target="_blank"  class="btn btn-sm bg-teal">
                                  <i class="fas fa-download"></i>
                                </a>
                                <a routerLink="/sinhvien/chitietbaitap/{{item.mabt}}" title="Truy cập vào"  class="btn btn-sm btn-primary">
                                  <i class="fa fa-user"></i> Nộp bài
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                          <li class="page-item"><a class="page-link" href="#">7</a></li>
                          <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                      </nav>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="thaoluans">
                  <div class="row mb-1">
                    <div class="col-sm-9">
                    
                      <!-- (click)="clearFormAdd()" -->
                    </div>
                  
                  </div>
              
                  <div class="card card-solid">
                    <div class="card-body pb-0">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column" *ngFor="let i = index;let item of thaoluansinhviens">
                          <div class="card bg-light d-flex flex-fill">
                            <div class="card-header text-muted border-bottom-0">
                              Năm học : {{item.namhoc}}
                            </div>
                            <div class="card-body pt-0">
                              <div class="row">
                                <div class="col-7">
                               
                                  <p class="text-muted text-sm"><b>Tiêu đề: </b> {{item.tieude}} </p>
                                  <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-user"></i></span> Nội dung:{{item.noidung}}
                                    </li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-user"></i></span> Giảng viên: {{item.nguoitao}}
                                      </li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span></li> Ngày tạo : <br> {{item.ngaytao| date:'dd - MM - yyyy'}}
                                  </ul>
                                </div>
                                <div class="col-5 text-center">
                                  <img src="./assets/dist/img/logo.png" alt="user-avatar" class="img-circle img-fluid">
                                </div>
                              </div>
                            </div>
                            <div class="card-footer">
                              <div class="text-right">
                                <a  title="Ấn để thảo luận" target="_blank"  class="btn btn-sm bg-teal">
                                  <i class="fas fa-download"></i>
                                </a>
                                <a  title="Truy cập vào"  class="btn btn-sm btn-primary">
                                  <i class="fa fa-user"></i> Truy cập vào
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">5</a></li>
                          <li class="page-item"><a class="page-link" href="#">6</a></li>
                          <li class="page-item"><a class="page-link" href="#">7</a></li>
                          <li class="page-item"><a class="page-link" href="#">8</a></li>
                        </ul>
                      </nav>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                </div>
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  
  </section>
  
  <!-- modal bài giảngt -->
 
  <!--  -->
  <!-- // 2 model tài liệu -->

  <!-- đóng -->
  
  
  <!-- // modal bài tập -->
  
 
  <!--  -->
  <!-- modal thảo luận -->

  
 
  <!--  -->

  <!-- <p-toast></p-toast>
  
  <p-confirmDialog [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-text">
  
  </p-confirmDialog> -->
  <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade-rotating" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
  </ngx-spinner> -->